$backgroundImg: url("../../assets/background.jpg"),
  radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(9, 9, 10) 0%,
    rgb(7, 10, 14) 81.3%
  );
$background: no-repeat center center fixed;
$fontColor: #f0f0f0;
$resumeBtnColor: #ff6464;
$resumeBtnTextColor: #ffffff;
