@import "../../assets//style/colors.scss";

$paddingTop: 5rem;
$paddingBottom: 5rem;
$paddingRight: 12rem;
$paddingLeft: 12rem;

#container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;

  padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;

  background-image: $backgroundImg;
  background-repeat: no-repeat;
  background-blend-mode: overlay;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gap-24 {
  gap: 24px;
}
