@import "../../assets/style/colors.scss";

#container {
  display: flex;
  flex-direction: column;
  height: inherit;

  &__home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;

    // height: calc(
    //   100vh - (27px + 158px + 29px)
    // ); // padding top + margin + height of menu)

    &__left {
      display: flex;
      flex-direction: column;
      width: 60%;

      &__title {
        font-weight: bold;
        font-size: 44px;
        line-height: 60px;
      }

      &__caption {
        font-size: 16px;
        line-height: 23px;
        margin: 40px 0 47px 0;
      }

      button {
        width: fit-content;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: $resumeBtnTextColor;
        padding: 9px 20px;

        background: $resumeBtnColor;
        border-radius: 2px;
        outline: none;
        border: none;

        &:hover {
          cursor: pointer;
          opacity: 0.75;
        }

        &:active {
          opacity: 0.9;
        }
      }
    }

    &__right {
      position: relative;
      margin: 0 90px 0 0;
      perspective: 900px;
      width: 243px;
      height: 243px;
      border-radius: 50%;

      &:hover {
        img {
          transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
          opacity: 0;
        }

        #container__home__right__img__back {
          transform: rotate3d(1, 0, 0, 0deg);
          opacity: 1;

          &:active {
            opacity: 0.8;
          }
        }
      }

      &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;

        .imgStyle {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-position: center center;
          transition: all 0.4s linear;
          transform-origin: 50% 0%;
        }

        &__back {
          transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
          background: $resumeBtnColor;
          opacity: 0;
          display: flex !important;
          align-items: center;
          text-align: center;
          justify-content: center;
          cursor: pointer;
          user-select: none;

          span {
            color: $resumeBtnTextColor;
            letter-spacing: 2px;
            font-size: 24px;
            margin: 0 15px;
            padding: 60px 0 0 0;
            height: 110px;
          }
        }
      }
    }
  }

  // #posts {
  //   background-color: #edf7fa;

  //   margin-right: -60px;
  //   margin-left: -148px;
  //   padding-bottom: 32px;

  //   #posts-container {
  //     padding-right: 148px;
  //     padding-left: 148px;

  //     #posts-title {
  //       display: flex;
  //       justify-content: space-between;
  //       align-items: center;

  //       margin-top: 27px;
  //       margin-bottom: 22px;

  //       #posts-recent {
  //         font-size: 22px;
  //         color: #21243d;
  //       }

  //       #posts-view-all {
  //         font-size: 16px;
  //         line-height: 23px;
  //         color: #00a8cc;
  //         user-select: none;

  //         &:hover {
  //           opacity: 0.7;
  //           cursor: pointer;
  //         }

  //         &:active {
  //           opacity: 0.9;
  //         }
  //       }
  //     }

  //     #posts-cards {
  //       display: flex;
  //       gap: 20px;
  //     }
  //   }
  // }
}
