#container {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 24px;
//   width: 418px;
  //   height: 295px;

  #title {
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #21243d;
  }

  #labels {
    display: flex;
    margin: 17px 0 17px 0;
    font-size: 18px;
    line-height: 26px;
    color: #21243d;

    hr {
      margin: 0 26px 0 26px;
      border: 0.5px solid #000000;
    }
  }

  p {
    font-size: 16px;
    line-height: 23px;
    color: #21243d;
    margin: 0;
  }
}
