@import "../assets/style/colors.scss";

$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$backgroundColor: $fontColor;

nav {
  display: none;
  margin-bottom: 158px;

  ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: flex-end;
    gap: 33px;
    margin: 0;
    padding: 0;

    li {
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;

      a {
        position: relative;
        text-decoration: none;
        color: inherit;
        padding-bottom: 3px;

        &:before,
        &:after {
          content: "";
          position: absolute;
          bottom: 5px;
          left: 0;
          right: 0;
          height: 2px;
          background-color: $backgroundColor;
        }
        &:before {
          opacity: 0;
          transform: translateY(-$distance);
          transition: transform 0s $easeOutBack, opacity 0s;
        }
        &:after {
          opacity: 0;
          transform: translateY($distance/2);
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:hover,
        &:focus {
          &:before,
          &:after {
            opacity: 1;
            transform: translateY(0);
          }
          &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
          }
          &:after {
            transition: transform 0s $duration $easeOutBack,
              opacity 0s $duration;
          }
        }
      }
    }
  }
}
