#container {
  height: 30%;
  #wrapper {
    display: flex;
    height: 100%;
    img {
      margin: 0 1.13rem 0.8rem 0;
      border-radius: 1rem;
      width: 25%;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: space-between;

      &__title {
        font-weight: bold;
        font-size: 2rem;
        line-height: 44px;
      }

      &__header {
        display: flex;
        align-items: center;
        gap: 36px;

        &__year {
          border-radius: 16px;
          padding: 0.1rem 0.5rem;
          background: white;
          color: #142850;
          font-weight: 900;
          font-size: 1.1rem;
        }

        &__project {
          font-size: 1.1rem;
          color: #8695a4;
        }
      }

      &__description {
        line-height: 23px;
      }
    }
  }

  .separator {
    border: 0.1px solid #e0e0e0;
    margin: 0 0 1rem 0;
  }
}
