$paddingTop: 27px;
$paddingBottom: 0px;
$paddingRight: 60px;
$paddingLeft: 148px;

.container {
  width: calc(99vw - ($paddingRight + $paddingLeft));
  height: calc(99vh - ($paddingTop + $paddingBottom));
  padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
}
