@import "./assets/style/colors.scss";

body,
h2,
img {
  margin: 0;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  color: $fontColor;
  // background-image: $backgroundImg;
  // background-repeat: no-repeat;
  // background-blend-mode: overlay;

  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}
